<div class="background">
  <div class="card text-center border-0">
    <img src="../../assets/icbplay.png" class="card-img-top align-self-center icon-icb">
    <div class="card-body">
      <h5 class="card-title">Verificação de Email</h5>
    <p class="card-text">Paz do Senhor! Para a sua maior segurança, por favor verifique seu e-mail para que possa usar todos os benefícios do aplicativo da ICB Campina do Barreto. Clique no botão abaixo 'Verificar Email' e depois verifique sua caixa de entrada.</p>
      <div>
        <a class="btn btn-primary" (click)="sendEmailVerification()">Verificar e-mail</a>
      </div>
      <div class="pt-3">
        <a [routerLink]="['/login']">Voltar</a>
      </div>
    </div>
  </div>
</div>