<div class="col-12">
  <strong>Filtros de pesquisa</strong>
  <hr>
  <div class="col-12 pb-2">
    <input class="form-control" type="text" placeholder="Digite o nome...">
  </div>
  <div class="col-12 pb-2">
    <input type="date" class="form-control">
  </div>
  <div class="col-12 pb-2">
    <button class="btn btn-primary"> <span class="fa fa-address-card-o"></span> Adicionar</button>
    <button class="btn btn-primary pull-right"> <span class="fa fa-search"></span> Pesquisar</button>
  </div>
  <hr>
</div>
<div class="col-12"></div>