<div class="row no-gutters">
  <div class="col-sm">
    <div class="welcome h-100 pl-4 pull-left">
      <div>Seja</div>
      <div>Bem-Vindo!</div>
    </div>
    <div class="hour-info">
      <div class="today">Hoje é {{ dayName | dayPipe }},</div>
      <div class="day">{{ day }}</div>
      <div class="month-year">
        <div>{{ month | monthName }}</div>
        <div>{{ year }}</div>
      </div>
    </div>
  </div>
  <div class="col-sm verse-meditation h-100">
    <div class="pt-2">PARA A SUA MEDITAÇÃO</div>
    <div #meditationText class="pt-3">
      4 - E viu Deus que a luz era boa; e fez Deus separação entre as trevas e a luz. (Gn. 1.4)
    </div>
    <div class="pull-right pr-5 pb-3" (click)="shareMeditationText()">Compartilhar <span class="fa fa-share-alt-square"></span></div>
  </div>
  <div (click)="redirectToBoletim()" class=" w-100 mt-1 mb-1 p-2 btn-boletim text-center">
    <div>Boletim</div>
    <div>Digital <span class="fa fa-share"></span></div>
  </div>
  <div class="col-sm w-100 h-100 title-audio">
    <div>
      <span class="pr-2 font-weight-bold">Áudios</span>
      <span>que</span>
    </div>
    <div class="font-weight-bold"><span class="fa fa-headphones"></span> Edificam</div>
  </div>
  <div class="col-sm audio-back mt-3">
    <div class="w-100 d-flex justify-content-between align-items-center pull-right pr-2 audio-message">
      <div class="ml-2">
        <div>Pregações e reflexões.</div>
        <div>Compartilhe.</div>
        <div>Ouça.</div>
      </div>
      <div>
        <button [routerLink]="['pregacao']" class="btn btn-danger"><span class="fa fa-headphones"></span> Ouvir</button>
      </div>
    </div>
  </div>
</div>