
  <div class="col-12 text-center w-100 start">
      <div class="col-9 glassy-text d-flex justify-content-between align-items-center">
        <div class="w-100 d-flex justify-content-around align-items-center">
          <img src="../../assets/logo_icb.ico" class="circle" />
          <div>
            <span class="day">{{ day }}</span>
            <span class="text-right ml-2">{{ month | monthName }}</span>
          </div>
        </div>
      </div>
  </div>  

  <div class="container apps">
    <div class="row no-gutters">
      <div class="col-11 offset-1 text-title text-left">
        <h5>APLICAÇÕES</h5>
      </div>
      <div class="col-4 ml-4 mr-1">
        <app-card-box
          [url]="'/home/pregacao'"
          [title]="'Pregacão'"
          [icon]="'fa fa-podcast'"
          [color]="'lilac-soft'"
        ></app-card-box>
      </div>
      <div class="col-6 mb-2">
        <app-card-box
          [url]="'/home/biblia'"
          [title]="'Bíblia'"
          [icon]="'fa fa-book'"
          [color]="'lilac-soft'"
        ></app-card-box>
      </div>
      <div class="col-6 mb-2 ml-4 mr-1">
        <app-card-box
          [url]="'/home/boletim-eletronico'"
          [title]="'Boletim'"
          [icon]="'fa fa-bookmark'"
          [color]="'blue-hard'"
        ></app-card-box>
      </div>
      <div class="col-4">        
        <app-card-box
          [url]="''"
          [title]="'Avisos'"
          [icon]="'fa fa-calendar'"
          [color]="'blue-soft'"
        ></app-card-box>
      </div>
      <div class="col-4 ml-4 mr-1">
        <app-card-box
          [url]="''"
          [title]="'Escalas'"
          [icon]="'fa fa-users'"
          [color]="'lilac-hard'"
        ></app-card-box>
      </div>
      <div class="col-6 mb-1">
        <app-card-box
          [url]="''"
          [title]="'Aniversários'"
          [icon]="'fa fa-birthday-cake'"
          [color]="'blue-hard'"
        ></app-card-box>
      </div>
    </div>
  </div>