<div class="hour-info">
  <div class="today">Hoje é {{ dayName }}</div>
  <div class="day">{{ day }}</div>
  <div class="month-year">
    <div>{{ month }}</div>
    <div>{{ year }}</div>
  </div>
</div>
<div class="verse-meditation">
  <div class="label">PARA A SUA MEDITAÇÃO</div>
  <div class="verse">
    "E viu Deus que a luz era boa. E fez Deus separação entre a luz e as trevas."
    <div>(Gn. 1.4)</div>
  </div>
  <div class="more-options">
    <span>Ver mais</span>
    <span class="fa fa-share-alt-square"></span>
  </div>
</div>
<div class="audio-messages" (click)="redirectToAudioMessages()">
  <div class="audio-message-title">
    Mensagens em áudio
  </div>
  <div class="audio-message-text">
    Ajude a propagar a palavra de Deus com as nossas mensagens em áudio
  </div>
</div>
<div class="last-messages">
  <div class="last-messages-title">Últimas adicionadas</div>
  <div class="last-messages-added" *ngFor="let pregacao of pregacoes">
    <div class="message">
      <img src="../../assets/thumb-icb.png" alt="Thumb ICB" width="50"><br/>
      {{ pregacao.title }}
    </div>
    <div class="see-more">
      Ver mais
    </div>
  </div>
</div>
<div class="divider red">
</div>
<div class="social-networks">
  <div class="social-networks-container">
    <div class="title-social-networks">Redes Sociais</div>
    <div class="title-social-networks">
      <span class="fa fa-facebook-square"></span>
      <span class="fa fa-instagram"></span>
      <span class="fa fa-twitter"></span>
      <span class="fa fa-youtube-play"></span>
      <span class="fa fa-envelope-o"></span>
    </div>
  </div>
</div>