.row {
    padding-top: 17%;
}

.welcome {
    font-size: 20px;
    background: #f2f4f5;
    width: 55%;
    line-height: 25px;
}

.welcome div:last-child {
    padding-left: 3%;
    font-size: 27px;
    font-weight: 600;
}

.hour-info {
    width: 45%;
    height: 100%;
    background: #f2f4f5;
    float: right;
}

.month-year {
    margin-left: 40%;
    font-weight: 600;

}

.today {
    padding-left: 2%;
}

.day {
    padding-left: 2%;
    font-size: 30px;
    width: 15%;
    position: absolute;
    border-right: 0.5px solid #0b0c48;
    font-weight: 800;
}

.verse-meditation {
    color: whitesmoke;
    background: url('../../assets/banner-meditacao.png') center no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.verse-meditation div:nth-child(2) {
    width: 60%;
    margin-left: 20%;
    padding-bottom: 5%;
}

.title-audio {
    background: #242a3a;
    padding: 5%;
    color: whitesmoke;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.title-audio span:first-child {
    font-size: 22px;
}

.title-audio div:last-child {
    font-size: 30px;
}

.audio-back {
    background: url('../../assets/banner-audio-message-no-text.png') center no-repeat;
    background-size: cover;
}

.audio-message {
    color: whitesmoke;
    font-size: 17px;
    text-align: right;
}

.btn {
    margin-bottom: 7%;
}

.btn-boletim {
    background: #04075c;
    color: whitesmoke;
    border-radius: 25px;
}