.start {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#023265, #021438);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: whitesmoke;
    margin-bottom: 15px;
    box-shadow: 2px 3px 20px #555555;
}

.navbar-brand {
    color: whitesmoke;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 10px;
    color: white;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 2px 3px 30px #555555;
}

.box:hover {
    box-shadow: none;
}

.text-title {
    text-shadow: 2px 3px 4px #555555;
}

.box > span:first-child {
    position: absolute;
    top: 10px;
    left: 15px;
}

.box > span:nth-child(2) {
    position: absolute;
    bottom: 3px;
    right: 8px;
}

.glassy-text {
    height: 100px;
    border-radius: 25px;
    backdrop-filter: blur(20px) contrast(.8);
}

.circle {
    background: url('../../assets/logo_icb.ico') center no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}