
.main {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('../../assets/login.png') center no-repeat;
    background-size: cover;
}

.sign {
    width: 107px;
    height: 192px;
    background: url('../../assets/icbplay.png') center;
    background-size: cover;
    margin: 25px auto;
}

.un {
    width: 22%;
    color: black;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    text-align: center;
}

.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;   
}

.submit {
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background: #281c80;
    border: 0;
    padding: 13px 190px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
    margin-left: 30px;
}

.register {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
    margin-right: 20px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

.btn {
    width: 22%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    text-decoration: none;
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.1rem;
}

.btn-google {
  background-color: #dd4b39;
  color: white;
}

.btn:hover {
    cursor: pointer;
}

.options {
    height: 50px;
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

@media (max-width: 600px) {

    .un {
        width: 65%;
    }

    .submit {
        padding: 13px 97px 13px 97px;
    }

    .btn {
        width: 65%;
    }

    .sign {
        margin: 35px auto;
    }

    .btn-download {
        color: whitesmoke;
        font-size: 20px;
    }
}