<div class="main text-center">
    <div class="sign"></div>
      <div>
        <input class="un" type="text" align="center" [(ngModel)]="email" placeholder="Email" />
      </div>
      <div>
        <input class="un" type="password" align="center" [(ngModel)]="password" placeholder="Senha" />
      </div>
      <a class="submit" align="center" (click)="login()">Entrar</a>
      <div class="options">
        <span class="register" align="center"><a [routerLink]="['/cadastro']">Cadastre-se</a></span>
        <span class="forgot" align="center"><a href="#">Esqueceu a senha?</a></span>
      </div>
      <button class="btn btn-google" (click)="loginWithGoogle()">
        <span class="fa fa-google"></span>&nbsp;&nbsp;
        Entrar com o Google
      </button>
    <span (click)="download()" class="btn-download w-100 d-flex justify-content-center">Baixar este app</span>     
</div> 