
  <div class="main">
      <div class="sign"></div>
      <form class="form1">
        <div>
          <input class="un" type="text" align="center" placeholder="Email" />
        </div>
        <div>
          <input class="un" type="password" align="center" placeholder="Senha" />
        </div>
        <a class="submit" align="center">Entrar</a>
        <div class="options">
          <span class="register" align="center"><a href="#">Cadastre-se</a></span>
          <span class="forgot" align="center"><a href="#">Esqueceu a senha?</a></span>
        </div>
        <button class="btn btn-google" (click)="loginWithGoogle()">
          <span class="fa fa-google"></span>&nbsp;&nbsp;
          Entrar com o Google
        </button>
      </form>         
  </div> 