<div class="options">
  <span class="fa fa-share-alt-square"></span>
</div>
<div class="container">
  <div class="thumbnail">
    <img src="../../assets/thumb-icb.png" alt="ICB Logo" width="250" />
  </div>
  <div class="audio-message">
    <div class="title">
      {{ currentPregacao.title }}
    </div>
    <audio #audioTag class="audio-tag" controls>
      <source [src]="currentPregacao.url" />
    </audio>
    <div class="progress">
      <div #progressInfo></div>
    </div>
    <div class="track-info">
      <span>{{ currentTime }}</span>
      <span class="fa fa-undo" (click)="reload()"></span>
      <span>{{ duration }}</span>
    </div>
    <div class="controls">
      <span class="fa fa-fast-backward"></span>
      <span class="fa fa-backward" (click)="minusFiveSec()"></span>
      <span class="fa" [ngClass]="playing ? 'fa-pause' : 'fa-play'" (click)="playing ? pause() : play()"></span>
      <span class="fa fa-forward" (click)="plusFiveSec()"></span>
      <span class="fa fa-fast-forward"></span>
    </div>
  </div>
</div>