@media only screen and (max-width: 700px) {

    .container {
        height: 94%;
        background: #f2f4f5;
    }

    .thumbnail {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 2000px #5f5b5b1a;
        padding-bottom: 5%;
        padding-top: 24%;
    }

    .options {
        position: fixed;
        background: #050543;
        top: 0;
        right: 0;
        color: whitesmoke;
        padding: 1%;
        width: 12%;
    }

    .options .fa {
        padding-right: 15%;
    }

    .options a {
        text-decoration: none;
        color: whitesmoke;
    }

    .audio-message {
        padding-bottom: 20%;
    }

    .title {
        width: 100%;
        color: black;
        text-align: center;
        padding-top: 10%;
        font-size: 25px;
    }

    .autor-message {
        color: whitesmoke;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }

    .progress {
        width: 60%;
        margin-left: 20%;
        margin-top: 10%;
        height: 3px;
        margin-bottom: 3%;
        background: #c5c5c5;
    }
    
    .progress > div {
        width: 0%;
        height: 100%;
        background-image: linear-gradient(to right, #a2313c, #5188c5);
    }

    .audio-tag {
        display: none!important;
    }

    .track-info {
        width: 60%;
        margin-left: 20%;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .controls {
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
        color: black;
        width: 60%;
        margin-left: 20%;
        font-size: 25px;
    }

    .fa-undo {
        margin-top: 2%;
        font-size: 25px
    }
}