@media only screen and (max-width: 700px) {

    .container {
        height: 94%;
        background: url('../../assets/back-biblioteca.png') center no-repeat;
        background-size: cover;
    }

    .thumbnail {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, .1);
    }

    .options {
        position: fixed;
        background: #050543;
        top: 0;
        right: 0;
        color: whitesmoke;
        padding: 1%;
        width: 12%;
    }

    .options .fa {
        padding-right: 15%;
    }

    .options a {
        text-decoration: none;
        color: whitesmoke;
    }

    .audio-message {
        height: 50%;
    }

    .title {
        width: 100%;
        color: whitesmoke;
        text-align: center;
        padding-top: 10%;
        font-size: 25px;
    }

    .autor-message {
        color: whitesmoke;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }

    .progress {
        width: 60%;
        height: 1%;
        background: whitesmoke;
        margin-left: 20%;
        margin-top: 10%;
    }
    
    .progress > div {
        width: 0%;
        height: 100%;
        background-image: linear-gradient(to right, #a2313c, #5188c5);
    }

    .audio-tag {
        display: none!important;
    }

    .track-info {
        width: 60%;
        margin-left: 20%;
        color: whitesmoke;
        display: flex;
        justify-content: space-between;
    }

    .controls {
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
        color: whitesmoke;
        width: 60%;
        margin-left: 20%;
    }

    .fa-undo {
        margin-top: 2%;
    }
}