@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html, body {
    padding: 0;
    margin: 0;
    width: 100%!important;
    height: 100%!important;
}

* {
    font-family: 'Abel', sans-serif;
}

.container {
    padding:0!important;
    margin:0!important;
}

.lilac-soft {
    background: #33368a;
}

.lilac-hard {
    background: #4d52e0;
}

.blue-hard {
    background: #04075c;
}

.blue-soft {
    background: #4282c6;
}