.navbar {
    height: 5%;
    width: 100%;
    background: #050543;
}

.navbar a { 
    text-decoration: none;
    color: #fff;
    margin: 20%;
}

.bars {
    color: white;
    font-size: 30px;
    margin-left: 2%; 
}

.sidebar {
    background: blue;
    width: 20%;
    height: 100%;
    position: absolute;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.sidebar li {
    padding: 20px;
}

.sidebar a, p {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 5%;
}

.content {
    position: absolute;
    margin-left: 20%;
    width: 77%;
    height: 100%;
}

.mobile-icon {
    display: none;
}

.web-icon {
    display: block;
}

@media only screen and (max-width: 700px) {

    .hideMenu {
        display: none;
    }

    .displayMenu {
        display: block;
        z-index: 1;
        position: absolute;
        background: #333;
        width: 100%;
    }

    .displayMenu ul {
        list-style: none;
        padding: 0;
        margin: 0; 
    }

    .displayMenu li {
        border: 1px solid #222;
        padding: 3%;
    }

    .displayMenu li > p {
        position: absolute;
        margin-left: 22%;
        top: 1%;
        width: 60%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .displayMenu a {
        text-decoration: none;
        color: whitesmoke;
        font-size: 20px;
        margin-left: 7%;
    }

    .displayMenu a > span:first-child {
        width: 10%;
    }

    .content {
        position: relative;
        margin: auto;
    }

    .divider {
        width: 100%;
        height: 1%;
    }

    .red {
        background: #9c303a;
    }

    
}