    <div class="start">
        <div class="row w-100 d-flex justify-content-center content no-gutters">
            <div class="col-9 glass text-center">
                <div class="col-12 glassy-text d-flex justify-content-center pt-2 flex-column">
                <div class="title font-weight-bold mb-2">
                    {{ boletim.title_message }}
                </div>
                <div class="text-justify">
                    {{ boletim.preview_message }}...
                </div>
                <div class="see-more">
                    <button class="btn btn-danger">Ver mais</button>
                </div>
                </div>
            </div>
        </div> 
    </div>
    
    <div class="container">
        <div class="row text-center">
            <div class="col-4">
                <img src="../../assets/avisos-icone.png" alt="Avisos" width="40" />
            </div>
            <div class="col-4">
                <img src="../../assets/escala-culto.png" alt="Escala Cultos" width="40" />
            </div>
            <div class="col-4">
                <img src="../../assets/escala-diacono.png" alt="Escala Cultos" width="40" />
            </div>
            <div class="col-4">
                <img src="../../assets/escala-depto-infantil.png" alt="Avisos" width="40" />
            </div>
            <div class="col-4">
                <img src="../../assets/aniversarios.png" alt="Avisos" width="40" />
            </div>
            <div class="col-4">
                <img src="../../assets/agenda.png" alt="Avisos" width="40" />
            </div>
        </div>
    </div>