    <div class="start">
        <div class="row w-100 d-flex justify-content-center content no-gutters">
            <div class="col-9 glass text-center">
                <div class="col-12 glassy-text d-flex justify-content-center pt-2 flex-column">
                <div class="title font-weight-bold mb-2">
                    {{ boletim.title_message }}
                </div>
                <div class="text-justify">
                    {{ boletim.preview_message }}...
                </div>
                <div class="see-more">
                    <button class="btn btn-danger">Ver mais</button>
                </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="container">
        <div class="row menu">
            <div class="col-md-10">
                <p>Avisos</p>
            </div>
            <div class="col-md-10">
                <p>Escala de Cultos</p>
            </div>
            <div class="col-md-10">
                <p>Escala Diaconal</p>
            </div>
            <div class="col-md-10">
                <p>Departamento Infantil</p>
            </div>
            <div class="col-md-10">
                <p>Aniversariantes</p>
            </div>
            <div class="col-md-10">
                <p>Calendário Anual</p>
            </div>
        </div>
    </div>


    